.productCardColumn {
  height: 250px !important;
  border-color: grey !important;
  border-radius: 5px !important;
}

.productCardImage {
  align-self: center;
  border-radius: 0;
  resize: both;
  width: 90%;
  height: 60%;
  object-fit: contain;
}

.productAddress {
  display: flex;
  margin-top: auto;
}

.productAddress div p {
  margin-bottom: 10px;
}

.featuredTag {
  background-color: #fff200 !important;
  width: 80px !important;
  position: absolute;
  z-index: 1;
  color: #000;
  margin: 2px;
  margin-top: 8px;
}

.premiumTag {
  background-color: #00e5ff;
  width: 80px;
  position: absolute;
  z-index: 1;
  color: #000;
  margin: 4px;
  margin-top: 8px;
}

.iconHBack {
  position: absolute;
  right: 18px;
  top: 3px;
  background-color: white;
  box-shadow: 0px 3px 5px #ccc;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  justify-content: center;
  z-index: 200;
}

.iconHBack span {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 10px;
}

.productLink:hover {
  text-decoration: none;
}

.productLink {
  z-index: 1;
}

.btnLogin {
  border: none;
  color: black;
  text-decoration: underline;
  background: none;
  font-weight: bold;
}

.btnLogin:hover {
  border: none;
  color: black;
  text-decoration: none;
  background: none;
}

.btnLogin:focus {
  border: none;
  outline: none;
}

.productTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
}

.btnInsideText {
  margin-left: -75px !important;
  margin-top: 12px;
  z-Index: 1
}

.btnGroupLogin {
  padding: 25px;
}

.btnGroupLogin .btns {
  outline: none;
  border: none;
  outline: 2px solid black;
  margin-top: 15px;
  padding: 5px;
  background-color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.btnGroupLogin .btns:hover {
  outline: 4px solid black;
}

.loginSliderCaption p {
  color: black;
  position: absolute;
  top: 100px;
  align-self: center;
  left: 10px;
  width: 100%;
  /* margin-top: 100px; */
}

.loginSlider, .loginSliderIndicators + .carousel-inner {
  height: 230px;
  /* background-color: black; */
}

.loginSliderIndicators li {
  background-color: #00e5ff;
}

.loginSliderPrev span, .loginSliderNext span {
  color: #00e5ff;
}

.nextInLogin {
  width: 100%;
  margin: 15px 0px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

.adDetailSlider {
  display: flex;
  /* width: 60%; */
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #000;
}

.margin-20 {
  margin: 20px;
}

.noDeco:hover {
  text-decoration: none;
}