.navbar {
    width: 15% !important;
}

.navbar-dark {
    background-color: grey;
}

.nav-collapse {
    flex-direction: column !important;
}

.navbar-expand-md .navbar-nav {
    flex-direction: column;
}

.container {
    flex-direction: column;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:nth-child(2) {
    padding: 8px 10px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    z-index: 1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.upperCard {
    border: none;
}

@media screen and (max-width: 450px) {
    .upperCard {
        width: 100%;
    }
}

.upperCard:nth-child(1):hover {
    background: linear-gradient(to right, #ff9436, #ff3636) !important;
}

.upperCard:nth-child(2):hover {
    background: linear-gradient(to right, #7cff36, #ffee36) !important;
}

.upperCard:nth-child(3):hover {
    background: linear-gradient(to right, #3676ff, #36ffee) !important;
}

.upperCard:nth-child(4):hover {
    background: linear-gradient(to right, #ff3697, #cd36ff) !important;
}

.adminAdTable {
    background: linear-gradient(to right, #ff3636, #ff9436, #ffee36, #7cff36, #36ffee, #3676ff, #cd36ff);
    box-shadow: 5px 2px 15px grey !important;
    margin: 0px !important;
}

.navAds {
    border: 1px solid #999;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #fff;
    width: 100% !important;
}

.navAds ul div a {
    color: black;
}