.cardColumn {
  /* overflow: scroll; */
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  /* justify-content: space-around; */
  /* margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px; */
}

.productCardColumn {
  /* width: 20% !important; */
  /* background-color: #3676ff !important; */
  height: 250px !important;
  /* padding: 5px !important; */
  /* margin-left: 8px !important; */
  border-color: grey !important;
  border-radius: 5px !important;
}

.productCardBody {
  /* width: 100px !important; */
  /* display: flex;
  flex-direction: column; */
  /* padding: 0; */
  /* padding-top: 10px; */
  /* padding-left: 10px; */
}

.productCardImage {
  align-self: center;
  border-radius: 0;
  resize: both;
  width: 90%;
  height: 60%;
  object-fit: contain;
}

.productAddress {
  display: flex;
  margin-top: auto;
}

.productAddress div p {
  margin-bottom: 10px;
}

.featuredTag {
  background-color: #fff200 !important;
  width: 80px !important;
  position: absolute;
  z-index: 1;
  /* padding: 1px; */
  margin: 2px;
  margin-top: 8px;
}

.premiumTag {
  background-color: #00e5ff;
  width: 80px;
  position: absolute;
  z-index: 1;
  /* padding: 1px; */
  margin: 4px;
  margin-top: 8px;
}

.iconHBack {
  position: absolute;
  background-color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  justify-content: center;
  z-index: 2;
}

.iconHBack span {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 10px;
}

.btnLogin {
  border: none;
  color: black;
  text-decoration: underline;
  background: none;
  font-weight: bold;
}

.btnLogin:hover {
  border: none;
  color: black;
  text-decoration: none;
  background: none;
}

.btnLogin:focus {
  border: none;
  outline: none;
}

.productTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btnInsideText {
  margin-left: -75px !important;
  margin-top: 12px;
  z-Index: 1
}

.btnGroupLogin {
  padding: 25px;
}

.btnGroupLogin .btns {
  outline: none;
  border: none;
  outline: 2px solid black;
  margin-top: 15px;
  padding: 5px;
  background-color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.btnGroupLogin .btns:hover {
  outline: 4px solid black;
}

.carousel-caption p {
  color: black;
  position: absolute;
  top: 100px;
  align-self: center;
  left: 10px;
  width: 100%;
  /* margin-top: 100px; */
}

.carousel, .carousel-inner {
  height: 230px;
  /* background-color: black; */
}

.carousel-indicators li {
  background-color: #00e5ff;
}

.carousel-control-prev span, .carousel-control-next span {
  color: #00e5ff;
}

.nextInLogin {
  width: 100%;
  margin: 15px 0px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}